.App {
    text-align: center;
  }
    

.div-container-align-right {
  display: flex;
  justify-content: flex-end; /* Aligne le bouton à droite */
  margin-right: 40px;
}

div-container-align-center {
  display: flex;
}



.app-container {
  display: flex;
  height: 100vh; /* S'assure que la barre latérale prend toute la hauteur */
}

.sidebar {
  width: 200px;
  background-color: rgb(230, 212, 189);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.sidebar button {
  background: none;
  border: none;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 10px;
}

.sidebar button:hover {
  background-color: #ddd;
}

.sidebar .active {
  background-color: #b2dffb;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 20px;
  background: #fff;
}

